.main {
    padding: 70px;
}

.main ul {
    padding: 20px 0px 0px 20px;
    list-style: none;
}

.main ul li {
    margin: 15px 0px 15px 0px;
    width: max-content;
    transition: all 0.2s;
    font-size: 20px;
    font-weight: 600;
}

.main ul li a {
    display: flex;
    align-items: center;
}